# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# TypeScript Cache
*.tsbuildinfo

# ESLint Cache
.eslintcache

# Environment Variables
.env
.env.test

# Claude Files
CLAUDE.md

# Mac Files
.DS_Store
src/.DS_Store

# Tokens
.npmrc